.form-container{
    border-radius: 10px;
    background-color: whitesmoke;
}

.profile-image {
    position: relative;
}

.profile-image button{
    position: absolute;
    bottom: 1px;
    right: 35%;
    background-color: #673ab7;
    color: white
}

.profile-image img{
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
}

@media only screen and (max-width: 768px) {
    .profile-image button{
        right: 22%;
    }
}