@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';


/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field{
    width: 100%;
    
}

mat-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: transparent;
}

mat-list-option{
    margin-top: 10px;
    margin-bottom: 10px;
}

.mat-mdc-list-item.mdc-list-item--with-leading-avatar.mdc-list-item--with-one-line, .mat-mdc-list-item.mdc-list-item--with-leading-checkbox.mdc-list-item--with-one-line, .mat-mdc-list-item.mdc-list-item--with-leading-icon.mdc-list-item--with-one-line {
    height: 80px;
}

