.chat-list{
    height: 90%;
    background: #c7bee8;
    border-radius: 16px;
    margin-right: 3%;
}

.row{
    height: 100%;
}

.messages{
    height: 90%;
    border-radius: 16px;
    padding: 24px;
    background: rgba(0,0,0,0.05);
}

.search-input {
    margin: 24px;
}

.chat-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.chat-name {
    font-weight: 600; 
}

.chat-date {
    font-size: 0.7rem;
    color: rgba(0,0,0,0.7);
}

.last-message{
    margin-bottom: 0px;
}

.message-header {
    display: flex;
    margin-bottom: 8px;

    & img{
        border-radius: 50%;
        object-fit: cover;
        margin-right: 16px;
        height: 50px;
        width: 50px;
    }

    & h2{
        display: flex;
        margin: 0;
        align-items: center;
    }
}

.chat-area{
    height: calc(100vh - 350px);

    display: flex;
    flex-direction: column;

    overflow: auto;
    
    & > :first-child{
        margin-top: auto;
    }
}

.input-area{
    padding-top: 16px;
}

.chat-bubble-container{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.chat-bubble-container.sender {
    justify-content: flex-end;

    & .chat-bubble{
        background: #c7bee8;
    }
}

.chat-bubble {
    background: white;
    padding-top: 8px;
    padding-bottom: 18px;
    padding-left: 8px;
    padding-right: 110px;
    margin-bottom: 16px;
    border-radius: 8px;
    width: fit-content;

    position: relative;

    & .chat-date{
        position: absolute;
        bottom: 2px;
        right: 8px;
        font-size: 0.7rem;
        color: rgba(0,0,0,0.6);
    }
}

