.chat-list{
    height: 90%;
    background: #c7bee8;
    border-radius: 16px;
    margin-right: 3%;
}

.row{
    height: 100%;
}

.messages{
    height: 90%;
    background: white;
    border-radius: 16px;
}

.search-input {
    margin: 24px;
}

.chat-title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.chat-name {
    font-weight: 600; 
}

.chat-date {
    font-size: 0.7rem;
    color: rgba(0,0,0,0.7);
}

.last-message{
    margin-bottom: 0px;
}