<div class="container-fluid" style="height: calc(100vh - 70px); width: 95%;">
    <div class="row d-flex justify-content-center">
        <div class="chat-list mat-elevation-z5 col-3 mt-5">
            <div class="search-input">
                <mat-form-field>
                    <input
                        matInput
                        placeholder="Search for users..."
                        [formControl]="searchControl"
                        [matAutocomplete]="users">
                </mat-form-field>
                <mat-autocomplete #users="matAutocomplete">
                    <mat-option *ngFor="let user of users$ | async" (click)="createChat(user)">
                        {{user.displayName}}
                    </mat-option>
                </mat-autocomplete>
            </div>

            <mat-selection-list [multiple]="false" hideSingleSelectionIndicator>
                <mat-divider></mat-divider>
                <mat-list-option *ngFor="let chat of myChats$ | async" [value]="chat.id">
                    <img matListItemAvatar [src]="chat.chatPic ? chat.chatPic : '../assets/images/user-placeholder.jpg'">
                    <p mat-line class="chat-title">
                        <span class="chat-name">
                            {{ chat.chatName }}
                        </span>
                        <span class="chat-date">
                            {{ chat.lastMessageDate }}
                        </span>
                    </p>
                    <p mat-line class="last-message">
                        {{ chat.lastMessage }}
                    </p>
                    <mat-divider [inset]="true"></mat-divider>
                </mat-list-option>
            </mat-selection-list>
        </div>
        <div class="messages mat-elevation-z5 col-8 mt-5"></div>
    </div>
</div>
