.chat-list{
    height: 90%;
    background: #d7cede;
    border-radius: 16px;
    margin-right: 3%;
}

.row{
    height: 100%;
}

.messages{
    height: 90%;
    background: white;
    border-radius: 16px;
}

.search-input {
    margin: 24px;
}